// margin

.mar-5 {
  margin: 5px;
}
.mar-l-5 {
  margin-left: 5px;
}
.mar-r-5 {
  margin-right: 5px;
}
.mar-t-5 {
  margin-top: 5px;
}
.mar-b-5 {
  margin-bottom: 5px;
}

.mar-10 {
  margin: 10px;
}
.mar-l-10 {
  margin-left: 10px;
}
.mar-r-10 {
  margin-right: 10px;
}
.mar-t-10 {
  margin-top: 10px;
}
.mar-b-10 {
  margin-bottom: 10px;
}

.mar-15 {
  margin: 15px;
}
.mar-l-15 {
  margin-left: 15px;
}
.mar-r-15 {
  margin-right: 15px;
}
.mar-t-15 {
  margin-top: 15px;
}
.mar-b-15 {
  margin-bottom: 15px;
}

.mar-20 {
  margin: 20px;
}
.mar-l-20 {
  margin-left: 20px;
}
.mar-r-20 {
  margin-right: 20px;
}
.mar-t-20 {
  margin-top: 20px;
}
.mar-b-20 {
  margin-bottom: 20px;
}

.mar-25 {
  margin: 25px;
}
.mar-l-25 {
  margin-left: 25px;
}
.mar-r-25 {
  margin-right: 25px;
}
.mar-t-25 {
  margin-top: 25px;
}
.mar-b-25 {
  margin-bottom: 25px;
}

.mar-30 {
  margin: 30px;
}
.mar-l-30 {
  margin-left: 30px;
}
.mar-r-30 {
  margin-right: 30px;
}
.mar-t-30 {
  margin-top: 30px;
}
.mar-b-30 {
  margin-bottom: 30px;
}

.mar-40 {
  margin: 40px;
}
.mar-l-40 {
  margin-left: 40px;
}
.mar-r-40 {
  margin-right: 40px;
}
.mar-t-40 {
  margin-top: 40px;
}
.mar-b-40 {
  margin-bottom: 40px;
}

.mar-50 {
  margin: 50px;
}
.mar-l-50 {
  margin-left: 50px;
}
.mar-r-50 {
  margin-right: 50px;
}
.mar-t-50 {
  margin-top: 50px;
}
.mar-b-50 {
  margin-bottom: 50px;
}

.mar-60 {
  margin: 60px;
}
.mar-l-60 {
  margin-left: 60px;
}
.mar-r-60 {
  margin-right: 60px;
}
.mar-t-60 {
  margin-top: 60px;
}
.mar-b-60 {
  margin-bottom: 60px;
}

.mar-70 {
  margin: 70px;
}
.mar-l-70 {
  margin-left: 70px;
}
.mar-r-70 {
  margin-right: 70px;
}
.mar-t-70 {
  margin-top: 70px;
}
.mar-b-70 {
  margin-bottom: 70px;
}

.mar-75 {
  margin: 75px;
}
.mar-l-75 {
  margin-left: 75px;
}
.mar-r-75 {
  margin-right: 75px;
}
.mar-t-75 {
  margin-top: 75px;
}
.mar-b-75 {
  margin-bottom: 75px;
}

.mar-80 {
  margin: 80px;
}
.mar-l-80 {
  margin-left: 80px;
}
.mar-r-80 {
  margin-right: 80px;
}
.mar-t-80 {
  margin-top: 80px;
}
.mar-b-80 {
  margin-bottom: 80px;
}

.mar-85 {
  margin: 85px;
}
.mar-l-85 {
  margin-left: 85px;
}
.mar-r-85 {
  margin-right: 85px;
}
.mar-t-85 {
  margin-top: 85px;
}
.mar-b-85 {
  margin-bottom: 85px;
}

.mar-90 {
  margin: 90px;
}
.mar-l-90 {
  margin-left: 90px;
}
.mar-r-90 {
  margin-right: 90px;
}
.mar-t-90 {
  margin-top: 90px;
}
.mar-b-90 {
  margin-bottom: 90px;
}

.mar-100 {
  margin: 100px;
}
.mar-l-100 {
  margin-left: 100px;
}
.mar-r-100 {
  margin-right: 100px;
}
.mar-t-100 {
  margin-top: 100px;
}
.mar-b-100 {
  margin-bottom: 100px;
}

.mar-125 {
  margin: 125px;
}
.mar-l-125 {
  margin-left: 125px;
}
.mar-r-125 {
  margin-right: 125px;
}
.mar-t-125 {
  margin-top: 125px;
}
.mar-b-125 {
  margin-bottom: 125px;
}

.mar-150 {
  margin: 150px;
}
.mar-l-150 {
  margin-left: 150px;
}
.mar-r-150 {
  margin-right: 150px;
}
.mar-t-150 {
  margin-top: 150px;
}
.mar-b-150 {
  margin-bottom: 150px;
}

.mar-175 {
  margin: 175px;
}
.mar-l-175 {
  margin-left: 175px;
}
.mar-r-175 {
  margin-right: 175px;
}
.mar-t-175 {
  margin-top: 175px;
}
.mar-b-175 {
  margin-bottom: 175px;
}

.mar-200 {
  margin: 200px;
}
.mar-l-200 {
  margin-left: 200px;
}
.mar-r-200 {
  margin-right: 200px;
}
.mar-t-200 {
  margin-top: 200px;
}
.mar-b-200 {
  margin-bottom: 200px;
}

.mar-250 {
  margin: 250px;
}
.mar-l-250 {
  margin-left: 250px;
}
.mar-r-250 {
  margin-right: 250px;
}
.mar-t-250 {
  margin-top: 250px;
}
.mar-b-250 {
  margin-bottom: 250px;
}

.mar-300 {
  margin: 300px;
}
.mar-l-300 {
  margin-left: 300px;
}
.mar-r-300 {
  margin-right: 300px;
}
.mar-t-300 {
  margin-top: 300px;
}
.mar-b-300 {
  margin-bottom: 300px;
}

.mar-350 {
  margin: 350px;
}
.mar-l-350 {
  margin-left: 350px;
}
.mar-r-350 {
  margin-right: 350px;
}
.mar-t-350 {
  margin-top: 350px;
}
.mar-b-350 {
  margin-bottom: 350px;
}

.mar-400 {
  margin: 400px;
}
.mar-l-400 {
  margin-left: 400px;
}
.mar-r-400 {
  margin-right: 400px;
}
.mar-t-400 {
  margin-top: 400px;
}
.mar-b-400 {
  margin-bottom: 400px;
}

.mar-500 {
  margin: 500px;
}
.mar-l-500 {
  margin-left: 500px;
}
.mar-r-500 {
  margin-right: 500px;
}
.mar-t-500 {
  margin-top: 500px;
}
.mar-b-500 {
  margin-bottom: 500px;
}

.mar-750 {
  margin: 750px;
}
.mar-l-750 {
  margin-left: 750px;
}
.mar-r-750 {
  margin-right: 750px;
}
.mar-t-750 {
  margin-top: 750px;
}
.mar-b-750 {
  margin-bottom: 750px;
}
