// font size
$font-text: 14px;
$font-title: 18px;
$font-stitle: 16px;
$font-text-low: 12px;
$border-radius: 100px;
$border-radius-low: 6px;

// main colors
$primary: #f0008b;
$secondary: #00acec;

// bg
$main-bg: #ddd;
$bg-primary: #2b328b;
$bg-secondary: #7f3f98;
$bg-rare: #7351c9;

//  colors
$white: #ffffff;
$grey: #cccccc;
$snapp-green: #00d170;

// alert
$alert-red: #f72f50;
$alert-green: #28a745;
$alert-blue: #2e85db;
$alert-caution: #f57f17;
